
.ui-accordion-header{
    font-size: 16px;
    cursor: pointer;
    text-transform: none;
}
.ui-accordion-header.ui-state-active{
    font-weight: 600;
}
.ui-accordion-header:active,
.ui-accordion-header:focus{
    outline: none;
}
.ui-accordion-header-icon{
    height: 16px;
    width: 16px;
    background: url(../img/icons/plus.png);
    background-size: contain;
    margin-right: 10px;
    display: inline-block;
    top: 2px;
    position: relative;
}
.ui-state-active .ui-accordion-header-icon{
    background: url(../img/icons/minus.png);
}
.ui-accordion-content{
    padding: 0 20px 30px;
}
.ui-accordion-content a.more{
    display: inline-block;
    padding: 0px 15px;
    background: #2196F3;
    color: #fff;
    float: right;
    border-radius: 15px;
}
.ui-accordion-content a.more:hover{
    background: #1d83d4;
}