@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}

.flaticon-avatar:before { content: "\f100"; }
.flaticon-diamond:before { content: "\f101"; }
.flaticon-eye:before { content: "\f102"; }
.flaticon-update-arrows:before { content: "\f103"; }
.flaticon-programming:before { content: "\f104"; }
.flaticon-shield:before { content: "\f105"; }
.flaticon-cloud-computing:before { content: "\f106"; }
.flaticon-checked:before { content: "\f107"; }
.flaticon-trophy:before { content: "\f108"; }
.flaticon-skyline:before { content: "\f109"; }
.flaticon-university:before { content: "\f10a"; }
.flaticon-house:before { content: "\f10b"; }
.flaticon-placeholder:before { content: "\f10c"; }
.flaticon-phone-call:before { content: "\f10d"; }
.flaticon-message:before { content: "\f10e"; }
